<div class="w-3/4 bg-black rounded-t-md ml-auto mr-auto p-4 mt-auto text-white">
  <p>This project was made by BenjaMenja.</p>
  <p>Project developed with <a href="https://angular.dev/" target="_blank">Angular</a>, <a href="https://tailwindcss.com/" target="_blank">Tailwind</a>, and <a href="https://pokeapi.co/" target="_blank">PokeAPI</a>.</p>
  <p>You can find more of my work on my <a href="https://github.com/BenjaMenja" target="_blank">GitHub</a> or on my <a href="https://bengelinas.dev/" target="_blank">personal website</a>.</p>
  <p>If you want to see a full changelog of this site, <a routerLink="/changelog">click here</a>.</p>
  <p class="text-xs font-sans">(PokéQuiz is an unofficial project based on the Pokemon series, and is not affiliated with The Pokemon Company, Game Freak, or organizations associated with the development or publishing of the Pokemon series.)</p>
</div>
