<nav class="bg-[rgba(255,255,255,0.75)] flex flex-row p-2 gap-4 min-w-full text-black mb-8 items-center">
  <a class="p-2 rounded-md hover:bg-gray-400" routerLink="/">Home</a>
  <a class="p-2 rounded-md hover:bg-gray-400" routerLink="/pokemon">Pokemon</a>
  <a class="p-2 rounded-md hover:bg-gray-400" routerLink="/moves">Moves</a>
  <a class="p-2 rounded-md hover:bg-gray-400" routerLink="/cries">Cries</a>
  <a class="p-2 rounded-md hover:bg-gray-400" routerLink="/info">Info</a>
  <img src="/assets/settings.png" alt="Settings Button" class="p-2 rounded-md hover:bg-gray-400 hover:cursor-pointer" (click)="toggleSettings()"/>

</nav>
<app-settings-box class="absolute" [active]="settings"></app-settings-box>


