<div class="space-y-8 justify-items-center">
  <div *ngIf="status === 0">
    <div class="card justify-items-center">
      <img src="assets/welcome.png" class="w-1/2" alt="Welcome Title"/>
      <p>PokeQuiz is a ten round quiz, testing your knowledge of Pokemon sprites!</p>
      <p>You will have {{maxTimer}} seconds per round to guess the Pokemon based on its in-game sprite.</p>
      <p>You will be scored based on how many Pokemon you successfully guess.</p>
      <p>Good Luck!</p>
    </div>
    <div class="flex flex-row gap-2 justify-center">
      <button routerLink="/info" class="mt-2">Info</button>
      <button (click)="startGame()" class="mt-2">Begin</button>
    </div>
  </div>
  <!-- HTML for the actual game -->
  <div *ngIf="status === 1 || status === 2" class="card w-2/3 space-y-4">
    <h3 *ngIf="(status === 1) || (status === 2 && timeBetween > 0)">Time Remaining: {{timer}}s</h3>
    <button *ngIf="(status === 2) && (timeBetween === 0)" type="button" role="button" (click)="advanceRound()">Next Round</button>
    <form *ngIf="status === 1" class="col-start-3 space-y-5 justify-self-center justify-items-center w-1/2" (keydown.enter)="$event.preventDefault()">
      <img src={{sprite}} alt="Pokemon Sprite"/>
      <div class="inputfield">
        <label title="The name of the Pokemon">Name</label>
        <input class="w-full" type="text" (change)="updateInputData($event.target, 'name')"/>
      </div>
      <button *ngIf="status === 1" type="button" role="button" (click)="makeGuess($event)">Guess</button>
    </form>
    <p>Current Score: {{score}} / {{maxscore}}</p>
    <h3>Round {{round}}</h3>
  </div>
  <div *ngIf="status === 2" class="card justify-items-center">
    <div class="flex flex-row gap-4 justify-center items-center">
      <diffdisplay [data]="{name: nameGuess}" [title]="'Your Guess'"></diffdisplay>
      <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
      </svg>
      <diffdisplay [data]="{name: pkmnName}" [guesses]="[correct]" [title]="'Answer'"></diffdisplay>
    </div>
  </div>
  <!-- HTML for the end of game screen -->
  <div *ngIf="status === 3" class="card">
    <h3>Congratulations!</h3>
    <p><b>You scored: </b>{{score}} out of {{maxscore}}</p>
    <button (click)="resetGame()">Play Again</button>
  </div>
</div>
