<div class="space-y-8 justify-items-center">
  <div *ngIf="status === 0">
    <div class="card justify-items-center">
      <img src="/assets/welcome.png" class="w-1/2" alt="Welcome Title"/>
      <p>PokeQuiz is a ten round quiz, testing your knowledge of Pokemon move data!</p>
      <p>You will have {{maxTimer}} seconds per round to answer as much as you can about a move.</p>
      <p>You will be scored based on how many correct answers you get per move.</p>
      <p>A breakdown of how well you did will be shown at the end.</p>
      <p>Good Luck!</p>
    </div>
    <div class="flex flex-row gap-2 justify-center">
      <button routerLink="/info" class="mt-2">Info</button>
      <button (click)="startGame()" class="mt-2">Begin</button>
    </div>
  </div>
  <!-- HTML for the actual game -->
  <div *ngIf="status === 1 || status === 2" class="card w-1/2 space-y-4">
    <h3>Time Remaining: {{timer}}s</h3>
    <h3><b>{{moveDescription}}</b></h3>
    <form *ngIf="status === 1" class="space-y-5 justify-self-center items-center w-1/2">
      <div class="inputfield">
        <label title="The name of the move.">Name</label>
        <input class="w-full" type="text" (change)="updateInputData($event.target, 'name')" placeholder="Move Name"/>
      </div>
      <div class="inputfield">
        <label title="The move's type.">Type</label>
        <select class="inline-flex justify-center bg-white text-black rounded-md w-full" (change)="updateInputData($event.target, 'type')">
          <option *ngFor="let type of MoveTypes">{{type}}</option>
        </select>
      </div>
      <div class="inputfield">
        <label title="The generation this move was introduced in.">Generation</label>
        <input class="w-full" type="number" min="1" max="9" (change)="updateInputData($event.target, 'generation')" [defaultValue]="1"/>
      </div>
      <div class="inputfield">
        <label title="The maximum PP this move has, without PP increasing items.">PP</label>
        <input class="w-full" type="number" min="1" max="40" (change)="updateInputData($event.target, 'pp')" [defaultValue]="1"/>
      </div>
      <div class="inputfield">
        <label title="The power of this move. Set to 0 if this move deals no direct damage, has variable power (Ex. Magnitude), or is a OHKO move (Ex. Guillotine).">Power</label>
        <input class="w-full" type="number" min="0" max="250" (change)="updateInputData($event.target, 'power')" [defaultValue]="0"/>
      </div>
      <div class="inputfield">
        <label title="The category of this move.">Category</label>
        <select class="inline-flex justify-center bg-white text-black rounded-md w-full" (change)="updateInputData($event.target, 'category')">
          <option *ngFor="let type of MoveCategories">{{type}}</option>
        </select>
      </div>
      <div class="inputfield">
        <label title="The accuracy of this move. Set to 0 for moves that do not miss (Ex. Feint Attack) or moves used on yourself (Ex. Growth).">Accuracy</label>
        <input class="w-full" type="number" min="-1" max="100" (change)="updateInputData($event.target, 'accuracy')" [defaultValue]="0"/>
      </div>
      <button *ngIf="status === 1" type="button" role="button" (click)="makeGuess($event)">Guess</button>
    </form>
    <p>Current Score: {{score}} / {{maxscore}}</p>
    <h3>Round {{round}}</h3>
  </div>
  <div *ngIf="status === 2" class="card justify-items-center">
    <div class="flex flex-row gap-4 justify-center items-center">
      <diffdisplay [data]="{name: moveInputData.name, type: moveInputData.type, generation: moveInputData.generation, PP: moveInputData.pp, power: moveInputData.power, category: moveInputData.category, accuracy: moveInputData.accuracy}" [title]="'Your Guess'"></diffdisplay>
      <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
      </svg>
      <diffdisplay [data]="{name: moveData.name, type: moveData.type, generation: moveData.generation, PP: moveData.pp, power: moveData.power, category: moveData.category, accuracy: moveData.accuracy}" [guesses]="guesses" [title]="'Answer'"></diffdisplay>
    </div>
  </div>
  <!-- HTML for the end of game screen -->
  <div *ngIf="status === 3" class="card space-x-2">
    <h3>Congratulations!</h3>
    <p><b>You scored: </b>{{score}} out of {{maxscore}}</p>
    <button type="button" (click)="updateGameStatus(4)">View Statistics</button>
    <button (click)="resetGame()">Play Again</button>
  </div>
  <!-- HTML for game statisics -->
  <div *ngIf="status === 4" class="card w-1/2 h-auto space-x-4">
    <h2>Game Statistics</h2>
    <canvas #chartRef id="chartRef">{{chart}}</canvas>
    <p><b>You scored: </b>{{score}} out of {{maxscore}}</p>
    <button (click)="downloadGraph()">Download</button>
    <button (click)="resetGame()">Play Again</button>
  </div>
</div>
