<div class="space-y-6 w-1/2 mx-auto mb-6">
  <div class="card justify-items-center"> 
    <img src="/images/title-no-desc.png" class="w-1/2" alt="PokeQuiz Title">
    <img src="/images/what-is-it.png" class="w-1/4" alt="What is it? Subtitle">
    <p>PokeQuiz aims to be the go to destination for Pokemon related quizzes! It features quizzes spanning the major corners of the Pokemon games, including Pokemon themselves, moves, and items! 
      You will play a continuous set of rounds, filling as much information as you can. At the end, you can either play again or view a breakdown of how well you did in each category!
      For more information, check out the info cards below! Click on one to begin playing!</p></div>  
  </div>
<div class="grid grid-cols-2 w-3/4 mx-auto gap-x-4">
  <div class="group card clickable" routerLink="/pokemon">
    <div class="titlebar">
      <img src="/images/pikachu-icon.png" alt="Pikachu Icon"/>
      <h2><u>Pokemon</u></h2>
    </div>
    <p>A quiz all about a Pokemon's attributes. Be prepared to know a Pokemon's types, generation, abilities, base stat total, height, and weight!</p>
  </div>
  <div class="group card clickable" routerLink="/moves">
    <div class="titlebar">
      <img src="/images/fire-icon.png" alt="Fire Type Icon"/>
      <h2><u>Moves</u></h2>
    </div>
    <p>A quiz all about a move's attributes. Given the description, be prepared to know a move's name, type, generation, PP, power, category, and accuracy!</p>
  </div>
  <div class="group card clickable" routerLink="/cries">
    <div class="titlebar">
      <img src="/images/speaker.png" alt="Speaker Icon"/>
      <h2><u>Cries</u></h2>
    </div>
    <p>A quiz all about Pokemon cries. Put your listening ears on and fill in the Pokemon name based on its cry!</p>
  </div>
</div>


